<p [routerLink]="['/Interpoblacion']">Interpoblacion</p>
<p [routerLink]="['/Oneway']">Oneway</p>
<p [routerLink]="['/Evento']">Evento</p>
<p [routerLink]="['/Twoway']">Twoway</p>
<p [routerLink]="['/Servicio']">Servicio</p>
<p [routerLink]="['/Directivas']">Directivas</p>
<p [routerLink]="['/Pasoparametro']">Pasoparametro</p>
<p [routerLink]="['/Pasomasparametros']">Varios Parametros</p>
<p [routerLink]="['/Padre1']">Padre1</p>
<p [routerLink]="['/Padre2']">Padre2</p>
<router-outlet></router-outlet>
